## Tuple

Tuple veri türü birden farklı veri türlerini içerisinde barındırabilir(int,string,float,boolean) 
hiç farketmez hepsini içerisine alabilir.

#### Not
Tuple veri türü sıralı ve değiştirilemezdir. Tuple veri türü oluştururken parantez aç kapat ile oluştururuz.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple) # Bu şekilde oluşturmuş oluruz

('apple', 'banana', 'cherry')

Tuple öğeleri sıralanır, değiştirilemez ve yinelenen değerlere izin verir.

Tuple öğeleri indekslenir, ilk öğenin indeksi vardır [0], ikinci öğenin indeksi [1]vb.

#### Değiştirilemez
Tuple'lar değiştirilemez, yani tuple oluşturulduktan sonra öğeleri değiştiremez, ekleyemez veya çıkaramayız.

bir tuple uzunluğunu bulmak istersek eğer len() fonksiyonunu kullanırız.

#### Not!!!
Bir Öğe ile Tuple Oluşturun
Yalnızca bir öğe içeren bir demet oluşturmak için, öğeden sonra virgül eklemeniz gerekir, aksi takdirde Python onu bir demet olarak tanımaz.

In [2]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>
<class 'tuple'>

In [3]:
tuple1 = ("abc", 34, True, 40.40, "male") # bütün birbirinden farklı veri türlerinden barındırabilir
print(tuple1)

('abc', 34, True, 40.4, 'male')

### Access Tuple Items

aslında daha öncesinde string ve list veri türü için erişim kısmı burada da tamamen aynı

In [4]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

eğer tersten erişmek istersek sadece -1 gibi değerler vermemiz yeterlidir.

In [5]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [6]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

### Python - Update Tuples

şimdi ilk başta dedik ki değiştirilemez peki bu değiştirilemez bir değer ise bunun önüne nasıl geçebilirim ?
yani elbette ben buna bir şeyler eklemek isteyeceğim çok büyük bir program yazdığımızı farz edelim bunun içinden nasıl çıkabilirim ?

Cevap: kapsama dediğimiz bir yöntem vardır bunu kullanarak istediğimiz gibi değer ekleyip değer değiştirebiliriz

In [7]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

burada ilk önce bir tuple değişkeni oluşturduk ve sonrasında bunu list fonksiyonu içerisine koyduk ve list veri türüne dönüşmüş
oldu sonrasında istediğimiz index değerine yeni değişken değerini ekleyip tekrardan tuple veri türüne dönüştürüp bitiriyoruz

### Add Items

bir değer eklemek istediğimiz zaman tekrar kapsama tekniğini kullanarak list veri türüne dönüştürüyoruz ve append fonksiyonu kullanarak ekliyoruz sonrasında tekrar tuple veri türüne dönüştürüyoruz.

In [8]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

2.bir yol ise direkt 2 farklı tuple değeri toplamak

In [9]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",   )
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### Remove Items

Tuple değişkenden bir değer silmek istersek eğer yine kapsama yöntemi ile list veri türüne dönüştürüp sonrasında remove fonksiyonu kullanarak içerisinden silebiliriz

In [10]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

### Join Two Tuples

eğer elimizde 2 tuple değerimiz varsa bunları direkt + sembolü sayesinde birleştirebiliriz

In [11]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply Tuples

aynı şekilde elimizde ki tuple değişkenini istediğimiz kadar tekrarlanmasını istersek sadece çarpma işareti * kullanarak istediğimiz kadar tekrar edilmesini sağlayabiliriz.

In [12]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

#### Tuple methods 
https://www.w3schools.com/python/python_tuples_methods.asp

## Python Sets

Set veri türü en zorlu olanlardan birisi ama sebebi anlaşılması zor olduğundan değil aksine anlaşılması çok kolay çünkü sıralanmayan bir veri türü, değiştirilemez ve bir değerden sadece 1 tane eklenebilir 2.inci aynı bir değer eklenemez
Set veri türü oluşturmak için süslü parantez açıp kapatılması gerekir {}

In [13]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'cherry', 'banana'}

içerisine bütün veri türlerinden değer alabilir.

In [14]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}

#### Access Items

set veri türünde değişkenleri index sayısına göre çağıramıyoruz o yüzden 2 seçeneğimiz var.
1-) for loop kullanarak sırayla teker teker yazdırmak
2-) in değerini kullanarak içerisinde olup olmadığını öğrenebiliriz.

In [15]:
thisset = {"apple", "banana", "cherry",'dasdsad','eldld'}
set_to_list = list(thisset)
set_to_list.sort()
newset = set(set_to_list)
print(newset)

{'banana', 'dasdsad', 'cherry', 'eldld', 'apple'}

In [16]:
### 1.inci   X         X         X
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

In [17]:
### 2.inci yol
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### Python - Add Set Items

eğer yeni bir veri türü eklemek istersek add() fonksiyonunu kullanabiliriz.

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

eğer ki elimizde 2 tane set değer var ve bunları bir tanesi içerisinde birleştirmek istersek o zaman update() fonksiyonu kullanırız

In [19]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'papaya', 'pineapple', 'banana', 'mango', 'cherry'}

elimizde sadece 1 tane set değer olursa ve 2.inci tür list veya başka bir değişken tuple gibi veri türü olursa yine set üzerinde ekleyebiliriz ve yine update() fonksiyonunu kullanabiliriz

In [20]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'kiwi', 'cherry', 'apple', 'orange'}

### Python - Remove Set Items

eğer bir değeri çıkarmak istiyorsak kullanabileceğimiz 2 method var bunlardan biri remove() diğer discard() fonksiyonları

In [21]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("tomato")

print(thisset)

KeyError: 'tomato'

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("tomato")

print(thisset)

şimdi şöyle bir şey var peki remove ile discard arasında ki fark ne ? yani neden sadece bir tanesini oluşturmamışlar ki çok saçma olurdu arada ki fark şu diyelim ki milyon satırlık bir değişken olduğunu düşünelim ve içerisinde bir değer var mı yok mu emin değilim ama yine de şansımı denemek istiyorum işte hata verip programın durmamasını istersem burada discard kullanırım.

### Join Two Sets

iki set değerini birleştirmek için kullanabileceğimiz methodlardan bir tanesi union() fonksiyonudur.

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

aynı şekilde bir diğer method update() fonksiyonudur.

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

bir diğer fonksiyon ise intersection_update() fonksiyonudur bu fonksiyon elimizde aynı değeri farklı set değerlerin içinde olduğu zaman bunu bize göstermesi için kullanırız

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

### Set Methods
https://www.w3schools.com/python/python_sets_methods.asp

## Python Dictionaries

Dict değişken veri türünde key:value mantığı vardır. yani aslında gerçekten sözlük gibi bir kelime vardır karşısında bir anlamı vardır burada da öyle bir mantık işlenir gerçekten

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

Yukarıda ki gördüğümüz örnek gibi brand bir kelime ve karşılığında bir anlamı varmış gibi düşünebiliriz.

normal index değeri sayılar yerine burada direkt key kısmını vererek erişebiliriz

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

içerisine istediğimiz kadar farklı veri türü değeri vereibliriz yani list tuple set hepsini ama hepsini alabilir.

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

### Python - Access Dictionary Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    'color':'red',
    'people':5
}
print(thisdict["brand"])

value = thisdict.get('model')
print(value)

### keys() Dict

In [ ]:
x = thisdict.keys()
print(x)

In [ ]:
thisdict['model'] = 'Skyline'
print(thisdict)

### values() Dict

In [ ]:
print(thisdict.values())

### items() Dict

In [ ]:
print(thisdict.items())

### update() Dict

In [ ]:
thisdict.update({'model':'Mustang'})
print(thisdict)

In [ ]:
thisdict['tekerlek'] = 4

print(thisdict)

### pop() Dict

In [ ]:
thisdict.pop('tekerlek')
print(thisdict)

### popitem() Dict

In [ ]:
thisdict.popitem()
print(thisdict)

### clear() Dict

In [ ]:
thisdict.clear()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
copy_dict = thisdict.copy()
print(copy_dict)

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily['child2'],myfamily['child1'])

In [ ]:
### Dict Methods
https://www.w3schools.com/python/python_dictionaries_methods.asp

In [ ]:
json_Example = {
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}

In [ ]:
json_Example['quiz']['maths']['q1']['options'] = [20,21,23,25]
json_Example['quiz']['maths']['q1']