# Boolean Values

Yazılım dillerinin en önemli konularından birisi olan ve aslında tüm sistemin başlangıç noktası olan
True ve False konusudur matrix filminde gördüğümüz 0 ve 1 ler aslında.
hemen kısaca açıklayayım. Ortada olan bir koşul durumu tamamlanırsa sonuç True dönmüş olur eğer tamamlanamazsa False dönüş olur.
Gerçek hayattan bir örnek vereyim cebimde 50 tl olduğunu düşünelim ve markete gittim, sonrasında çikolata almak istiyorum
fakat çikolata 50 TL'den fazla bu sefer alamam çünkü param yetersiz ve durumum False olmuş olur. ama çikolatayı alsaydım True olurdu.

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Python yazılım dilinde sadece tek bir koşul var sonuçun False olması için bu da değerimizin 0 olması

ve değişken değeri boolean değişkenlerinin bool() fonksiyonunu kullanırız bu şekilde gerçek değerlerini görürüz.

In [2]:
print(bool("Hello"))
print(bool(15))
print(bool(0))

True
True
False

aşağıda ki değerler harici bütün değerler True olarak dönüş yapar

In [3]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

### Python Arithmetic Operators

In [4]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print("Kalan = ",11 % 5)
print("karesi = ",10 ** 5)
print("bölüm =",15 // 5)

15
5
50
2.0
Kalan =  1
karesi =  100000
bölüm = 3

### Python Assignment Operators

In [5]:
x = 100


x += 5
print("toplama = ",x)
x -= 5
print("çıkarma = ",x)
x *= 5
print("çarpma = ",x)
x /= 5
print("bölme = ",x)
x %= 5
print("kalan = ",x)
x **= 5
print("karesi = ",x)
x //= 5
print("bölüm = ",x)

toplama =  105
çıkarma =  100
çarpma =  500
bölme =  100.0
kalan =  0.0
karesi =  0.0
bölüm =  0.0

### Python Comparison Operators

In [6]:
x = 10
y = 15
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

### Python Logical Operators

In [7]:
a = 20
b = 10
c = 15
print(a > b and c > b)
print(b < a or c < b)
print(not(a > b and c < b))

True
True
True

### Python Membership Operators

In [8]:
x = ["apple", "banana"]

print("banana" in x)

True

In [9]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

## Python Lists

Listeler aslında kısa mantığını özetlemek istersem birden fazla olan değişkenleri dağınık durmaması için bir sepete koyduğumuzu düşünelim. mesela odamız çok dağınık elimize bir sepet alıp elbiseleri koymaya başlarsak elbisenin türü rengi farketmeden sepete koyabiliriz. Tam olarak işte pythonda listeler böyle işler içerisine bütün değişkenleri koyabiliriz.

bir List değişkeni tanımlamak için şu dizimi takip ederiz:

my_list = [ degerler ]

In [10]:

thislist = ["apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

daha önce string değerlerinde gördüğümüz gibi parçalama işlemi veya bir değere ulaşmak için [index_numarası] verdiğimiz gibi
aynısını listelerde de yapıyoruz.

In [11]:
thislist[0]

'apple'

In [12]:
thislist[1]

'banana'

elimizde çok uzun bir liste değerleri olacak ilerleyen zamanlarda ve bunların uzunluğunu öğrenmek için yine len() fonksiyonunu
kullanacağız.

In [13]:
thislist = ["apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry"]

print(len(thislist))

12

içerisine her türlü değişken türü yer alabilir.

In [14]:
list1 = ["abc", 34, True, 40.40, "male"]
print(type(list1))

<class 'list'>

In [15]:
thislist = ["apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry","apple", "banana", "cherry"]
print(thislist[-1])
print(thislist[2:5])
print(thislist[:5])
print(thislist[2:])
print(thislist[-4:-1])

cherry
['cherry', 'apple', 'banana']
['apple', 'banana', 'cherry', 'apple', 'banana']
['cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']
['cherry', 'apple', 'banana']

In [16]:
a = "Hello World!"
a = a.replace('H','J')
print(a)

Jello World!

In [17]:
new_list = ["abc", 34, True, 40.40, "male"]
new_list[1] = "Boran"
print(new_list)

['abc', 'Boran', True, 40.4, 'male']

In [18]:
new_list = ["abc", 34, True, 40.40, "male"]
new_list[1:3] = ['Dublin','Istanbul']
print(new_list)

['abc', 'Dublin', 'Istanbul', 40.4, 'male']

### Insert method

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

### Append method

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.append("watermelon")
print(thislist)
thislist.append('kiraz')
print(thislist)

['apple', 'banana', 'cherry', 'watermelon']
['apple', 'banana', 'cherry', 'watermelon', 'kiraz']

### Extend Method

In [22]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Remove Method

In [23]:
thislist.remove('papaya')
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple']

### Pop Method

In [24]:
thislist.pop(1)

'banana'

In [25]:
print(thislist)

['apple', 'cherry', 'mango', 'pineapple']

### Del method

In [26]:
del thislist[2]
print(thislist)

['apple', 'cherry', 'pineapple']

In [27]:
print(thislist)

['apple', 'cherry', 'pineapple']

### Clear Method

In [28]:
thislist.clear()
print(thislist)

[]

### Example For loop and While Loop

In [1]:
new_list = [1,2,3,4,5,6,6,7,8,9,0,11,11111,11111112,2,2,2,2,2,23,3]

for item in new_list:
    print(item)

1
2
3
4
5
6
6
7
8
9
0
11
11111
11111112
2
2
2
2
2
23
3

In [30]:
new_list = [1,2,3,4,5,6,6,7,8,9,0,11,11111,11111112,2,2,2,2,2,23,3]

i = 2

while i < new_list:
    print(new_list[i])
    i = i + 1

### Sort Method

In [31]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print("normal sıralama:",thislist)
thislist.sort(reverse = True)
print("ters sıralama:",thislist)

normal sıralama: ['banana', 'kiwi', 'mango', 'orange', 'pineapple']
ters sıralama: ['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [32]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print("normal sıralama:",thislist)
thislist.sort(reverse = True)
print("ters sıralama:",thislist)

normal sıralama: [23, 50, 65, 82, 100]
ters sıralama: [100, 82, 65, 50, 23]

In [33]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)
thislist.sort(key = str.lower)
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']

### Reverse Method

In [34]:
thislist = ["banana", "Orange", "Kiwi", "cherry","banana", "Orange", "Kiwi", "cherry""banana", "Orange", "Kiwi", "cherry""banana", "Orange", "Kiwi", "cherry""banana", "Orange", "Kiwi", "cherry",]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'cherrybanana', 'Kiwi', 'Orange', 'cherrybanana', 'Kiwi', 'Orange', 'cherrybanana', 'Kiwi', 'Orange', 'banana', 'cherry', 'Kiwi', 'Orange', 'banana']

### Copy Method

In [35]:
thislist = ["banana", "Orange", "Kiwi", "cherry","banana", "Orange", "Kiwi", "cherry""banana", "Orange", "Kiwi", "cherry""banana", "Orange", "Kiwi", "cherry""banana", "Orange", "Kiwi", "cherry",]
copy_list = thislist.copy()
print(copy_list)

['banana', 'Orange', 'Kiwi', 'cherry', 'banana', 'Orange', 'Kiwi', 'cherrybanana', 'Orange', 'Kiwi', 'cherrybanana', 'Orange', 'Kiwi', 'cherrybanana', 'Orange', 'Kiwi', 'cherry']

In [37]:
thislist = ["banana", "Orange", "Kiwi", "cherry","banana", "Orange", "Kiwi", "cherry","banana", "Orange", "Kiwi", "cherry""banana", "Orange", "Kiwi", "cherry""banana", "Orange", "Kiwi", "cherry",]
copy_list2 = list(thislist)
print(copy_list2)

['banana', 'Orange', 'Kiwi', 'cherry', 'banana', 'Orange', 'Kiwi', 'cherry', 'banana', 'Orange', 'Kiwi', 'cherrybanana', 'Orange', 'Kiwi', 'cherrybanana', 'Orange', 'Kiwi', 'cherry']